title= title

div
  div#header 
    h2 Welcome to #{title}!
    p Manage list of beers  
  div.button 
    a(href='/login') Login    
  div.button
    a(href='/register') Register  
  div.button
    a(href='/about') Learn More
    
