title Login to Beers

div
  div#header
    h1 Log In
    p
      a(href='/') Home</a> &nbsp    
      a(href='/register') Register

div
  - if(createAccount)
    h3 Account Created! A confirmation email has been sent to you.
    p
      b Proceed to login below.
  

  form(action='/login', method='POST')
    #login.center
      label(for='email') Email: 
      input(type='text', name='email', placeholder='email@email.com')
      
      label(for='password') Password: 
      input(type='password', name='password', placeholder='password')
     
      input(type='submit', value='Log Me In!') Login
      
      a(href='/forgot-password') Forgot Password ?     
    
   