title Remove Beer 

div.center
  a(href='/account') Home</a> &nbsp                        
  a(href='/logout') Logout

div
  a(href='/beers') List All</a> &nbsp       
  a(href='/Orderbeers') Place Order</a>    
  
  
  h2 Beer Removed!